.ui.top.attached.label:first-child + :not(.attached) {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	margin-left: 1px !important;
	margin-right: 1px !important;
}

.ui.top.attached.label, .ui.attached.label {
	z-index: 1;
}

.ui.list {
	padding-top: 2.1rem !important;
	font-size: 1rem;
	overflow: auto;
}

.ui.selection.list .list > .item, .ui.selection.list > .item {
	border-radius: 0 !important;
	padding-top: 4px;
	padding-left: 4px;
	padding-right: 4px;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: rgba(0,0,0,0.0);
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.ui.selection.list .list > .item, .ui.selection.list > .item {
	color: rgba(0, 0, 0, 0.9);
}

.ui.selection.list.list > .item:hover, .ui.selection.list > .item:hover {
	color: rgba(0, 0, 0, 1);
}

.ui.secondary.vertical.pointing.menu > .item {
	border-left: 3px solid transparent;
	border-right: none;
	margin: 0;
	color: rgba(0, 0, 0, 1);
	font-weight: 500;
}

.ui.secondary.vertical.pointing.menu {
	border-right: none;
	overflow: auto;
}

.ui.secondary.vertical.pointing.menu > .item:hover {
	color: rgba(0, 0, 0, 1);
}

.ui.secondary.vertical.pointing.menu > .item.active {
	background: rgba(0, 0, 0, 0.05);
	border-color: rgba(0, 0, 0, 1);
}

.ui.secondary.menu .link.item, .ui.secondary.menu a.item {
	opacity: 0.95;
}

.ui.vertical.menu {
	width: inherit;
	padding-top: 2.1rem !important;
	padding-bottom: 2.1rem !important;
	padding-left:0;
}

.ui.vertical.menu .item > i.icon {
	float: left;
	margin: 0;
}

.module-list {
	height: 99%;
	padding-top: 1px;
}

.module {
	height:42px !important;
	list-style: none !important;
	color: rgba(0, 0, 0, 1);
	background: rgba(0, 0, 0, 0.03);
	overflow: hidden;
	line-height: 1.2;
	padding-top: 4px;
	padding-left: 4px;
	padding-right: 4px;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: rgba(0,0,0,0.0);
}

.module-placeholder {
	background: rgba(0, 0, 0, 0.03) !important;
	color: rgba(0, 0, 0, 1) !important;
	line-height: 1.2;
	padding-top: 4px;
	padding-left: 4px;
	padding-right: 4px;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: rgba(0,0,0,0.0);
}

.blank-placeholder {
	height: 0px;
}

#selection input {
	height: 21px;
	margin: -6px;
	font-size: 12px;
	width: 204px;
}

#selection .icon {
	font-size: 12px;
}

.ui.search {
	float: right;
}

.selectedModule {
	cursor: default !important;
	background: #46ae5f !important;
}