#semester-container {
	height: 99%;
	display: flex;
}

.semester {
	min-height: 100%;
	height: 100%;
	min-width: 11.3rem;
	width: 100%;
	display: inline-block;
	padding: 0.5rem;
}

.ui.segment {
	padding: 0;
	height: 100%;
}

#requirement-container {
	height: 99%;
	display: flex;
}

#requirementModules {
	flex: 1;
}

#selection {
	flex: 1;
	float:right;
	min-width: 303px;
}

#requirement-specification {
	flex: 3;
}

.ruleSatisfied {
	background: #46ae5f !important;
}