@charset "utf-8";
/*Colors
Green
#004b23
#0f8345
#33a969
#6BCD98
#cdf3df
Blue
#032D43
#135376
#337497
#6AA2C0
#CCE4F0
http://paletton.com/#uid=72+0u0kmqtWDrdgssnlfdFo53VU

*/



body {
	color: #111111;
}
/* Cover Page*/
.coverpage {
	height: 100vh;
	background: rgb(225,242,233); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(225,242,233,1) 25%, rgba(107,205,152,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,rgba(225,242,233,1)), color-stop(100%,rgba(107,205,152,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(225,242,233,1) 25%,rgba(107,205,152,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(225,242,233,1) 25%,rgba(107,205,152,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(225,242,233,1) 25%,rgba(107,205,152,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(225,242,233,1) 25%,rgba(107,205,152,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1f2e9', endColorstr='#6bcd98',GradientType=0 ); /* IE6-9 */

}
.coverpage .footer {
	position:absolute;
}
.introduction {
	text-align: center;
	padding-top: 150px;
	padding-right: 15px;
	padding-bottom: 40px;
}
.title {
	font-size: 72px;
}
.courseinput {
	width: 300px;
	padding-top: 120px;
	margin-left: auto;
	margin-right: auto;
}
.form-control {
	width: 80%;
	display:inline;
}
.btn-primary {
	display:inline;
	margin-top: -3px;
}
/* Navigation Bar*/
.navbar-inverse {
	background-color: #d0efdf;
	border-color: #0F8445;
}

.navbar-brand {
	padding-left: 45px;
	padding-right: 30px;
}
.navbar-inverse .navbar-brand {
	color: #000;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
	color: #111111;
}

.navbar-header:hover,
.navbar-header:focus {
	background:white;
}
.navbar-nav>li>a {
	padding-left: 30px;
	padding-right: 30px;	
}
.navbar-nav>li:hover,
.navbar-nav>li:focus {
	background-color: white;
}
.navbar-inverse .navbar-nav>li>a {
	color: #111;
}
.navbar-inverse .navbar-nav>li>a:active,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
	color: black;
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
	background-color: #0F8445;
}
.navbar-nav {
	float: none;
}
.view-type {
	float: right !important;
}
.glyphicon {
	font-size: 15px;
	top: 2px;
	left: 1px;
}
.view-glyph {
	padding-left: 15px !important;
	padding-right: 15px !important;
}
.school {
	float: right !important;
}
.glyphicon-chevron-down {
	top: 3px;
}
.dropdown-menu {
	min-width: 260px;
}


.form-control:focus {
	border-color: #cdf3df;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(51, 169, 105,.6);
}
.btn-primary {
	color:#fff;
	background-color:#0f8345;
	border-color:#33a969;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle
.btn-primary {
	color:#fff;
	background-color:#004b23;
	border-color:#33a969;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
	outline: thin dotted;
	outline: 3px auto rgba(51, 169, 105,.6);
	outline-offset: -2px;
}

/* Roadmap Page*/
.main {
	height: 100%;
	background: rgb(225,242,233); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(225,242,233,1) 25%, rgba(107,205,152,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,rgba(225,242,233,1)), color-stop(100%,rgba(107,205,152,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(225,242,233,1) 25%,rgba(107,205,152,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(225,242,233,1) 25%,rgba(107,205,152,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(225,242,233,1) 25%,rgba(107,205,152,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(225,242,233,1) 25%,rgba(107,205,152,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1f2e9', endColorstr='#6bcd98',GradientType=0 ); /* IE6-9 */
}
/*left side bar
.leftsidebar {
	margin-top: 51px;
	height: 100vh;
	width: 300px;
	float: left;
	background: rgba(204, 228, 240, 0.5);
	border-color: #6AA2C0;
	border-width: 0px 1px 0px 0px;
	border-style: solid;
}
.affix-bottom {
	position:absolute;
}
.module-search {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	display: inherit;
}
*/
.roadmap-title {
	margin-top: 51px;
	margin-left: 3%;
	padding-top: 1px;
	font-size: 36px;
}
.roadmap-container {
	overflow-x:auto;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.roadmap {
	width: 100%;
	height: 412px;
	background: #2ecc71;
	cursor: default;
}
.roadmap-interior {
	width: 98%;
	height: 402px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.sem-container {
	width: 12.5%;
	float: left;
	height: 100%;
}
.sem {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	height: 90%;
	min-width: 200px;
	min-height: 300px;
	border-radius: 5px;
	background: #ecf0f1;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.sem-title {
	font-size: 21px;
	margin-left: 10px;
	padding-top: 3px;
	margin-bottom: 3px;
}
.module {
	padding-left: 5px;
	padding-top: 3px;
	height: 48px;
	width: 180px;
	border-width: 1px;
	border-style: solid;
	background: rgba(204, 228, 240, 0.8);
	border-color: #6AA2C0;
	border-radius: 2px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}
.module-placeholder {
	padding-left: 5px;
	padding-top: 3px;
	height: 48px;
	width: 180px;
	border-width: 1px;
	border-style: solid;
	background: rgba(204, 228, 240, 0.1);
	border-color: #6AA2C0;
	border-radius: 2px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}
.module-set {
	padding: 0px;
	min-height: 88%;
}
li {
	list-style: none;
}
li:hover,
li:focus {
	cursor: -webkit-grab;
}

/*requirement stuff*/
.requirement {
	width: 100%;
	height: 412px;
	background: #7f8c8d;
	cursor: default;
}
.module-title {
	margin-left: 3%;
	font-size: 36px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.requirement-container {
	height: 402px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.sem-container-extension {
	width: 10%;
	float: left;
	height: 100%;
}
.sem-extension {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	height: 90%;
	min-width: 200px;
	min-height: 300px;
	border-radius: 5px;
	background: #ecf0f1;
	left: -14%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}




.footer {
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
	color: #000000;
	margin-top: 100px;
	background-color: white;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
